[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
flask-migrate = "*"
flask-wtf = "*"
psycopg2 = "==2.7.3.2"
flask-login = "*"
urllib3 = "*"

[dev-packages]
"autopep8" = "*"

[requires]
python_version = "3.6"
