<!DOCTYPE html>
<html>

<head>
    <!-- META -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1">
    
    {% if title %}
        <title>EduLists Australia - {{ title }}</title>
    {% else %}
        <title>EduLists Australia</title>
    {% endif %}
    
    <!--  STYLESHEETS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/root.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- FONTS / ICONS -->
    <script src="{{ url_for('static', filename='icons/js/all.js') }}"></script>

    <!-- SCRIPTS -->
    <script src="{{ url_for('static', filename='scripts/burger.js') }}"></script>
</head>

<body>
    <nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item title-navbar-item" href="{{ url_for('main.index') }}">
                <strong>EduLists</strong>&nbsp;Australia
            </a>
    
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
    
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{{ url_for('main.subjects') }}">
                    Subjects
                </a>
    
                <a class="navbar-item" href="{{ url_for('main.about') }}">
                    About
                </a>
            </div>
    
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        {% if current_user.is_anonymous %}
                            <a class="button is-link" href="{{ url_for('main.register') }}">
                                <strong>Get Started</strong>
                            </a>
                            <a class="button is-light" href="{{ url_for('main.login') }}">
                                Log in
                            </a>
                        {% else %}
                            <a class="button is-light" href="{{ url_for('main.logout') }}">
                                Log out
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        <br>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="notification is-{{ category }}" role="alert">
                    <button class="delete" onclick="window.location.href=window.location.href"></button>
                    {% if message == "MSG_REG" %}
                        You have been successfully registered! You can now <a href="{{ url_for('main.login') }}">log in</a>.
                    {% else %}
                        {{ message }}
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    </div>

    {% block content %}{% endblock %}
</body>

</html>