<!DOCTYPE html>
<html>

<head>
    <!-- META -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <title>EduLists Australia</title>
    
    <!--  STYLESHEETS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/root.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- FONTS / ICONS -->
    <script src="{{ url_for('static', filename='icons/js/all.js') }}"></script>

    <!-- SCRIPTS -->
    <script src="{{ url_for('static', filename='scripts/burger.js') }}"></script>
</head>

<body>
    <nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item title-navbar-item" href="{{ url_for('main.index') }}">
                <strong>EduLists</strong>&nbsp;Australia
            </a>
    
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
    
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item">
                    Subjects
                </a>
    
                <a class="navbar-item" href="{{ url_for('main.about') }}">
                    About
                </a>
            </div>
    
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-link">
                            <strong>Sign up</strong>
                        </a>
                        <a class="button is-light">
                            Log in
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    {% block content %}{% endblock %}
</body>

</html>