{% extends "main/_base.html" %}{% block content %}

<div class="center">
    <div class="banner-container" style="padding: 64px 0;">
        <div class="banner-text">
            <div id="banner-header">
                Connecting Australian Teachers
            </div>
            <div id="banner-content">
                <p>
                    EduLists makes it easy to share ideas with other teachers.
                </p>
            </div>
        </div>
        <div class="banner-image">
            <span>
                illustration
            </span>
        </div>
    </div>
    <p style="margin-top: 0; margin-bottom: 28px;">
        Using a network of mailing lists, EduLists makes it easy to stay up-to-date on how other educators in your state teach your subjects, letting you learn more about how you can improve and help your students.
    </p>
    <div class="banner-container">
        <div class="banner-panel">
            <div class="banner-panel-image">illustration</div>
            Register an account
        </div>
        <div class="banner-panel" style="margin: 0 16px;">
            <div class="banner-panel-image">illustration</div>
            Subscribe to your subjects
        </div>
        <div class="banner-panel">
            <div class="banner-panel-image">illustration</div>
            Share and collaborate
        </div>
    </div>
    <p>
        Nostra euismod eget placerat pretium neque tortor mauris litora nonummy dignissim vitae ligula fermentum enim orci
        phasellus eleifend mollis dictum massa facilisis, donec ad iaculis. Parturient. Ultricies erat, nonummy sodales.
        Curabitur nibh diam vivamus sociosqu habitant quis suspendisse lectus placerat.
    </p>
    <p class="quote">
        "Yeah I totally think that because of course."
    </p>
    <p>
        Suscipit. Curabitur vulputate. Nam sapien volutpat non magna venenatis. Ullamcorper rhoncus cursus sit. Sapien. Libero
        ultricies luctus mollis, semper Eleifend imperdiet sagittis.
    </p>
    <p>
        Porta malesuada. Purus vivamus laoreet sociosqu suspendisse feugiat sagittis nibh. Metus venenatis sodales elit aliquam
        lacinia magnis eget. Montes tellus taciti imperdiet nascetur. Elit magnis sapien gravida sollicitudin. Hac sociis
        elementum duis.

    </p>
</div>

{% endblock %}