<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <link href="https://fonts.googleapis.com/css?familyRoboto+Mono:400,700" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_style.css') }}">

    <title>EduLists Admin</title>
</head>

<body>
    <div class="top-bar">
        <div class="top-bar-box">
            [edulists admin]
        </div>
        <div class="top-bar-box">
            users
        </div>
    </div>
    {% block content %}{% endblock %}
</body>

</html>